/* element name selectors */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.title {
    margin-bottom: 30px;
    text-align: center;
}

/* footer */

.footer {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0px;
}

/* navigation bar */

.item-list {
    text-decoration: none;
    color: black;
}