/* element name selectors */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* lateral menu */

.lateral-menu {
    background-color: black;
    width: 30%;
}

/* header title */
.title {
    color:white;
}

/* footer */

.footer {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0px;
    color: white;
}

/* navigation bar */

.navbar {
    margin-top: 10%;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 200%;
}

.nav-links:hover {
    background-color: white;
    color:black;
}

#list {
    list-style-type: none;
}

.item {
    margin-top: 5%;
    margin-bottom: 5%;
}