body {
  font-family: Arial, Helvetica, sans-serif;
}

/* side menu */

.side {
  height: 100%;
  width: 0; /* changed with JavaScript*/
  position: fixed;
  z-index: 1; /* used for stacked boxes, the number is the level */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 8px, 8px, 8px, 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-nav:hover {
  color: #f1f1f1;
}

.side-nav .closebtn {
  position: abosolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*TODO: flexbox to adjust divs*/

.project-sample {
  width: 75%;
  background-color: #111;
  color: white;
  float: right;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.side a {
  text-decoration: none;
  color: white;
}

.side li {
  padding-top: 25px;
  padding-bottom: 25px;
}

.side a:hover {
  color: grey;
}

.project-sample a {
  text-decoration: none;
  color: white;
}

.project-sample a:hover {
  color: lightgray;
}

.separator {
  border-bottom: solid 5px #111;
  flex-direction: column;
}

/*TODO: flexbox to adjust divs*/

.bio {
  color: white;
  background-color: #111;
}

#close-btn {
  text-align: right;
  padding-right: 25%;
}

#close-btn a {
  text-decoration: none;
  color: white;
}

#head {
  border-bottom: solid 5px #111;
  text-align: center;
  width: 100%;
}

#menu-btn {
  padding: 5px;
}

#menu-btn:hover {
  background-color: darkgray;
}

#wrapper {
  flex-direction: column;
}